@import url('./buttonAnimation.css');
html{
    scroll-behavior: smooth;
}
*{
    font-family: "Roboto", "aboreto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.container{
    width: 70%;
}
body{
    background-image: url('https://images.unsplash.com/photo-1660505465468-c898ea7ff674?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > img{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
body header,
body main,
body footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}
body header,
body footer{
    background-color: #6A3329;
    color: #fff;
}
body header{
    height: 4rem;
    position: fixed;
}
header > nav.tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > nav.tab h3{
    color: #f9faf8;
    font-size: 24px;
}
header > nav.tab > nav.links{
    display: flex;
    align-items: center;
}
header > nav.tab > nav.links a{
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 1rem;
    font-weight: 300;
}
header > nav.tab > nav.links a:hover{
    color: #eccaca;
}
header > nav.tab > nav.links > a.checkout{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}
main{
    background-color: rgba(26, 36, 33, 0.7);
    margin-top: 4rem;
    max-height: 100%;
    padding: 3rem 1.5rem;
}
main h2{
    color: #e05f2c;
}
main section{
    width: 100%;
    padding: 0 8rem;
    margin: 1rem 0;
}
main section > form > div.mealItem{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    border-bottom: 1px solid  gray;
    padding: 0.5rem 0;
}
main section > form > div.mealItem > img{
    flex: 1;
    background-color: #fff;
    margin-right: 6rem;
}
main section > form > div.mealItem > div.foodPrice,
main section > form > div.mealItem > div.foodQuantity{
    display: flex;
    flex-direction: column;
    flex: 2;

}
main section > form > div.mealItem > div.foodPrice > h3{
    color: #e8e8e8;
    font-size: 28px;
    font-weight: 400;
}
main section > form > div.mealItem > div.foodPrice > span{
    margin: 1rem 0;
    font-weight: 300;
    color: #fff;
}
main section > form > div.mealItem > div.foodPrice > button{
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    background-color: #f35f24;
}
main section > form > div.mealItem > div.foodPrice > button:hover{
    background-color: #c9572a;
    -webkit-animation: heartbeat 1.5s ease-in-out both;
    animation: heartbeat 1.5s ease-in-out both;
}
main section > form > div.mealItem > div.foodQuantity{
    text-align: right;
    color: #fff;
    font-weight: 300;
}
main section > form > div.mealItem > div.foodQuantity > div.quantity > input{
    margin-left: 2rem;
    width: 6rem;
    height: 2rem;
    font-size: 18px;
    border: none;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
}
main section > form > div.mealItem > div.foodQuantity > span{
    margin-top: 2rem;
}
div.toTop{
    background-color: #6A3329;
    text-align: center;
    width: 50px;
    height: 50px;
    color: #fff;
    position: fixed;
    left: 5rem;
    bottom: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div.toTop > i{
    font-size: 30px;
}
footer{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}