@import url('./buttonAnimation.css');
@import url('./imageAnimation.css');
/*
https://images.unsplash.com/photo-1558030089-02acba3c214e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80
https://images.unsplash.com/photo-1558030137-a56c1b004fa3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80
https://images.unsplash.com/photo-1558030006-450675393462?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80
*/
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 70%;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
}
div.backToTop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 4rem;
    bottom: 8rem;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #e8e8e8;
    /*background-color: #232323;*/
}
div.backToTop > span{
    font-size: 2.5rem;
    color: #6A3329;
}
div.backToTop:hover{
    scale: 1.25;
}
body main,
body footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body footer{
    width: 100%;
    height: 40vh;
    padding: 4rem;
    background-color: #161616;
}
body > nav.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    position: fixed;
    margin-top: 0;
    padding-top: 0;
    z-index: 2;
    background-color: #161616;
    color: #6A3329;
}
body > nav.tab > div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
body > nav.tab > div.container > h3{
    font-size: 2rem;
    font-weight: 600;
}
body > nav.tab > div.container > nav.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
}
body > nav.tab > div.container > nav.links > a{
    font-size: 1.2rem;
    color: #7a3329;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > section.grills{
    width: 100%;
    height: 100vh;
    margin-top: 4rem;
    /*background-image: url('https://images.unsplash.com/photo-1558030089-02acba3c214e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80')*/;
    background-attachment:fixed ;
    background-position: center;
    background-size: cover;
    background-color: rgba(48, 45, 45, 0.3);
    color: rgb(48, 45, 45);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-start;
}
main > section.grills > div.text{
    margin: 10rem 8rem;
    display: flex;
    flex-direction: column;
    color: #e8e8e8;
}
main > section.grills > div.text > h3{
    font-size: 1.2rem;
    font-weight: 600;
}
main > section.grills > div.text > h1{
    font-size: 4rem;
    font-weight: 800;
}
main > section.grills > div.text > a{
    width: 12rem;
    padding: 0 1rem;
    position: relative;
    color: #f35f24;
    /*color: #161616;*/
    font-size: 3.5rem;
    font-weight: 800;
    background-color: #232323;
}
main > section.grills > div.text > a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f35f24;
    transition: all 0.4s ease-in-out;
}
main > section.grills > div.text > a:hover::after{
    content: '';
    position: absolute;
    width: 10rem;
}
main > section.grills > div.carouselNavigation{
    display: flex;
    justify-content: right;
    align-items:flex-start;
    padding-right: 4rem;
    width: 100%;
    height: 15rem;
}
main > section.grills > div.carouselNavigation > button{
    background-color: #e8e8e8;
    border: none;
    margin: 0 0.2rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > section.grills > div.carouselNavigation > button:hover{
    transform: scale(1.1);
}
main > section.grills > div.carouselNavigation > button > i{
    font-size: 2rem;
    color: #6A3329;
}
footer{
    bottom: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}