main > section.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    padding: 0 16rem;
    background-color: #fff;
}
main > section.quote > div.quote,
main > section.quote > div.image{
    flex: 1;
}
main > section.quote > div.quote{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 3rem;

}
main > section.quote > div.quote > h2,
main > section.quote > div.quote > h3{
    margin-bottom: 2rem;
}
main > section.quote > div.quote > h3{
    position: relative;
    margin-left: 8rem;
    font-weight: 400;
    font-size: 16px;
}
main > section.quote > div.quote > h3::before{
    position: absolute;
    content: "";
    width: 6rem;
    height: 1px;
    left: -8rem;
    top: 50%;
    background-color: #f35f24;
}
main > section.quote > div.quote > h2{
    font-size: 3rem;
    color: #f35f24;
}
main > section.quote > div.quote > p{
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 300;
}
main > section.quote > div.image > figure{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}
main > section.quote > div.image > figure > img.mainImg{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
main > section.quote > div.image > figure > img.subImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
main > section.quote > div.image > figure > img.mainImg:hover,
main > section.quote > div.image > figure > img.subImg:hover{
    transform: scale(1.05);
}