section.checkoutSuccess{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
section.checkoutSuccess > i{
    position: absolute;
    top: 2rem;
    font-size: 28rem;
    z-index: -1;
    color: rgba(0, 128, 0, 0.1);
}
section.checkoutSuccess > p{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;

}