@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageTitle{
  @apply text-primaryColor font-semibold text-2xl;
}

.navbarLink{
  @apply xl:!bg-primaryColor xl:!text-white rounded-md;
}
.jumboText__h2{
  @apply font-bold xl:text-6xl;
}
.text{
  @apply text-center xl:text-left w-full h-full xl:h-96 flex flex-col xl:justify-evenly;
}

.button__CTA{
  @apply p-3;
}
.hero{
  @apply mt-4 w-full h-fit;
}
.heroButton{
  @apply flex text-2xl font-semibold;
}
.hero .hero__img__div{
  @apply relative mt-4 w-full;
}
.menu--tab{
  background-color: #fff;
  color: black;
}
.menu--tab__active{
  background-color: #f13a01;
  color: #fff;
}
button.nav-link{
  color: #000 !important;
}
button.active{
  background-color: #f13a01 !important;
  color: #fff !important;
}
a.page-link{
  color: #000 !important;
}