@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f1f5f9 !important;
}
.pageTitle{
  @apply text-primaryColor font-semibold text-2xl;
}
nav.navbar{
  background-color: #fff;
}
.navbarLink{
  @apply xl:!bg-primaryColor xl:!text-white rounded-md;
}
.jumboText__h2{
  @apply font-bold xl:text-6xl;
}
.text{
  @apply text-center xl:text-left w-full h-full xl:h-96 flex flex-col xl:justify-evenly;
}

.button__CTA{
  @apply p-3;
}
.hero{
  @apply mt-4 w-full h-fit;
}
.heroButton{
  @apply flex text-2xl font-semibold;
}
.hero .hero__img__div{
  @apply relative mt-4 w-full;
}
.menu--tab{
  background-color: #fff;
  color: black;
}
.menu--tab__active{
  background-color: #f13a01;
  color: #fff;
}
button.nav-link{
  color: #000 !important;
}
button.active{
  background-color: #f13a01 !important;
  color: #fff !important;
}
a.page-link{
  color: #000 !important;
}
div.card{
  @apply mb-4 w-72 h-96;
  border: 0.7px solid #e2e8f0 !important;
  box-shadow: 0.5 solid;
}
div.card div.CTA{
  border: none !important;
}
div.card div.CTA a{
  background-color: #f13a01 !important;
  border: none !important;
}
div.card div.CTA span{
  color: #f13a01 !important;
  @apply font-semibold;
}
div.tab-content,
div.carouselContainer{
  background-color: #f1f5f9 !important;
}
div.menuItems,
div.chefs,
div.info{
  display: grid;
  /* grid-gap: 1rem; */
  justify-content: space-around;
  align-content: center;
  grid-template-columns: repeat(auto-fit, 18rem);

}
h5.card-title.meals{
 @apply font-bold text-2xl; 
}
div.icons a{
  @apply text-xl bg-slate-400 hover:bg-slate-600 text-slate-950 p-2 rounded-full;
}

div.links a,
header a{
  @apply text-slate-300 hover:text-slate-600;
  text-decoration: none;
}
div.bio,
div.links,
div.contact{
  @apply mb-8 xl:mb-0;
}
div.carousel-item{
  width: fit;
  position: relative
}
div.carousel-item p{
  @apply text-lg xl:text-xl text-center;
}
div.carousel-item img{
  @apply w-12 h-12 xl:w-16 xl:h-16 rounded-full object-cover object-center;
}
div.testimonialProfile{
  @apply mt-4 text-lg font-normal relative flex justify-center items-center;
}
div.testimonialTitle{
  @apply  ml-4;
}
div.testimonialTitle h2{
  @apply text-lg xl:text-xl font-semibold xl:font-bold;
}
div.testimonialTitle span{
  @apply  text-base xl:text-lg font-normal;
}
div.CTA_btn button{
  @apply p-3 text-2xl font-semibold mt-4;
}
div.CTA_btn button.CTA_btn__order{
  @apply bg-primaryColor hover:bg-orange-700 text-white rounded-md mr-4;
}
div.CTA_btn button.CTA_btn__reservation{
  @apply bg-slate-100 hover:bg-slate-200 text-primaryColor rounded-md;
}