@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageTitle{
  @apply text-primaryColor font-semibold text-2xl;
}

.navbarLink{
  @apply xl:!bg-primaryColor xl:!text-white rounded-md;
}
.heroButton{
  @apply flex;
}
